@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Sharethings!!!!!</h1>  
</div>
<div class="align-items-center">
    @await Html.PartialAsync("~/Views/Products/_ProductPlace.cshtml")
</div>